body {
  margin:0;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.nav{
  background-color: grey;
 
  display: block;
}
img.nav {
  float: right;
  width:3vw;
  height:3vw;
}
a.nav{
  float: left;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a.nav:link{
  background-color: grey;
}
a.nav:hover{
  background-color: lightgrey;
}
.top {
  text-align:center;
  color:white;
  background:grey;
  padding: 6vw;
  
}
#titel {
  font-size:5vw;
  display: inline-block;
}

.content {
  text-align:center;
  font-size:3vw;
  background-color: white;
}


.top {
  text-align:center;
  color:white;
  background:grey;
  padding: 6vw;
  
}

#splash {
  font-size:3vw;
  margin:-3vw;
}
#seal{
  width:4vw;
  height:4vw;
  display: inline-block;
  
}

