body {
  margin:0;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}
.nav{
  background-color: grey;
  float: left;
  display: block;
}
a.nav{
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a.nav:link{
  background-color: grey;
}
a.nav:hover{
  background-color: lightgrey;
}
.top {
  text-align:center;
  color:white;
  background:grey;
  padding: 6vw;
  
}
#titel {
  font-size:5vw;
}
#splash {
  font-size:3vw;
  margin:-3vw;
}

.content {
  text-align:center;
  font-size:3vw;
  
}
.list {
  text-align:center;
  font-size:3vw;
  background-color: white;
}
.sublist {
  font-size:1.8vw;
}