
/*==================*/
/*=   Fade Anim    =*/
/*==================*/

/*Fade Out Animation*/
@keyframes fadeOut {
    0%   {opacity: 1;}
    100% {opacity: 0;}
}
  
/*Fade In Animation*/
@keyframes fadeIn {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}
  
/*fadeOut class*/
.fade {
    animation: fadeOut 1.0s forwards;
}

/*fadeIn class*/
.fadeShow {
    animation: fadeIn 1.0s forwards;
}
@keyframes jump {
    0%   {transform: scale(1.0)}
    50% {transform: scale(1.3) translateY(-15%)}
    100% {transform: scale(1)}
}
  
/*fadeOut class*/
.jump {
    animation: jump 1.0s forwards;
}
/*==================*/
/*=    Remember    =*/
/*==================*/

/* Logo Arrow Animation In */
@keyframes rememberAnim {
    0% {transform: rotate(0deg);} 
    100% {transform: rotate(360deg);}
}

/* Logo Arrow Animation Out */
@keyframes rememberAnim2 {
    0% {transform: rotate(0deg);} 
    100% {transform: rotate(-360deg);}
}

/* Logo Arrow Animation In class */
.remember {
    animation: rememberAnim 1.0s forwards;
}

/* Logo Arrow Animation Out class */
.remember2 {
    animation: rememberAnim2 1.0s forwards;
}

/* Logo Arrow Animation Left Id*/
#arrow {
    position: relative;
    display: inline-block;
}

/* Logo Arrow Animation Right Id*/
#arrow2 {
    position: relative;
    display: inline-block;
}

/*==================*/
/*=   Passwords    =*/
/*==================*/

/* Password Enter Css */
#pass {
    text-align:center;
    color: white;
    padding-bottom: 2vh;
    padding-top: 2vh;
    font-size: 2vw;
    line-height: 1.1;
    width:40%;
    position: relative;
    display: inline-flex;
    box-shadow: none;
}

/*==================*/
/*=    Fireworks   =*/
/*==================*/

/* FireWork Launch Anim */
@keyframes lanch {
    0% {
        transform:translateY(0%);
        opacity: 100;
    } 50% {
      transform: translateY(-700%);
      opacity: 100;
    } 80%{
      transform: scale(10) translateY(-50%);
      opacity: 0;
    } 81% {
      transform: scale(0) translateY(0%);
      opacity: 0;
    } 100% {
      transform: scale(1) translateY(0%);
      opacity: 1;
    }
}

/* FireWorks launch class */
.launch {
    animation: lanch 4.0s forwards;
}
  
/*==================*/
/*=  Matrix Anim   =*/
/*==================*/

/* Matrix In Anim */
@keyframes matrix1 {
    0% {
        transform: rotateY(0deg); 
        opacity: 0;
    } 100% {
        opacity: 1;
        transform: rotateY(720deg); 
    }
}

/* Matrix Out Anim*/  
@keyframes matrix2 {
    0% {
        transform: rotateY(0deg);
        opacity: 1;
    } 100% {
        transform: rotateY(720deg);
        opacity: 0;
    }
}

/* Matrix On Class */
.matrixOn {
    animation: matrix1 2.0s forwards;
}

/* Matrix Off Class */
.matrixOff {
    animation: matrix2 2.0s forwards;
}

/* Martrix Class */
.matrix{
    position: relative;
    display: inline-block;
}

/*==================*/
/*=   Rain Anim    =*/
/*==================*/

/* Rain On Animation*/
@keyframes rain1 {
    0% {
        transform: rotateX(90deg); 
        color: white;
        opacity: 0;
    } 100% {
        opacity: 1;
        transform: rotateX(0deg); 
        color: blue;
    }
}

/* Rain Off Animation */
@keyframes rain2 {
    0% {
        transform: rotateX(0deg);
        color: blue;
        opacity: 1;
    } 100% {
        transform: rotateX(-90deg);
        opacity: 0 ;
        color: white;
    }
}

/* Rain On Class */
.rainOn {
    animation: rain1 2.0s forwards;
}

/* Rain Off Class */
.rainOff {
    animation: rain2 2.0s forwards;
}

/*==================*/
/*=     Random     =*/
/*==================*/

/* FireWork Launch Anim */
@keyframes random {
    0% {
        transform: scale(1) rotateZ(0deg);
    } 100% {
      transform: scale(4) rotateZ(360deg);
    }
}

/* FireWorks launch class */
.random {
    animation: random 1.0s forwards;
}
  
@keyframes splashs {
    0% {
        transform: scale(0);
    } 100% {
      transform: scale(1);
    }
}

/* FireWorks launch class */
.splashs {
    animation: splashs 1.0s forwards;
}