/*target whole document*/
html {
  /* comic sans font */
  font-family: "Comic Sans MS", cursive, sans-serif;
}

/* body of html */
body {
  /* wrap elements to edge of browser */
  margin:0;
}

/* nav */
.nav{
  /* background color */
  background-color: grey;
  /* block display */
  display: block;
}

/* nav links */
a.nav{
  /* stack to left of screen */
  float: left;
  /* white text */
  color: white;
  /* size using vw */
  padding: 1vw 2vw;
  /* align text */
  text-align: center;
  /* no deco */
  text-decoration: none;
  /* dont newline */
  display: inline-block;
}

/* if link normal */
a.nav:link{
  /* normal color */
  background-color: grey;
}

/* if link hover */
a.nav:hover{
  /* hover color */
  background-color: lightgrey;
}

/* cheese world */
img.nav {
  /* float to right */
  float: right;
  /* width */
  width:3w;
  /* height */
  height:3vw;
}

/* header */
.top {
  /* align text */
  text-align:center;
  /* white text color */
  color:white;
  /* grey background */
  background:grey;
  /* thickness */
  padding: 5vw;
}

/* title/logo */
#titel {
  /* align to center */
  text-align: center;
  /* font size */
  font-size:5vw;
  /* No newline wrapping */
  display: inline-block;
}

/* content under header */
.content {
  /* align center */
  text-align:center;
  /* font size */
  font-size:3vw;
  /* background color */
  background-color: white;
}

/* splash text */
#splash {
  /* size of splash */
  font-size:3vw;
  /* margin */
  margin:-3vw;
}

/* seal of nobody */
#seal{
  /* width */
  width:4vw;
  /* height */
  height:4vw;
  /* dont wrap newline */
  display: inline-block;
}

/* list for gadgets */
.list {
  /* align text */
  text-align:center;
  /* font size */
  font-size:3vw;
  /* background color */
  background-color: white;
}

/* sublist for gadgets */
.sublist {
  /* font size */
  font-size:1.8vw;
}
